#textdomain wesnoth-Undead_in_the_Sewers

#define TROPHY X Y VAR TITLE TEXT IMG
    [event]
        name=prestart
        [if]
            [variable]
                name={VAR}
                boolean_equals=yes
            [/variable]
            [then]
                [terrain]
                    x,y={X},{Y}
                    terrain=Iwr^Ii
                [/terrain]

                {PLACE_IMAGE {IMG} {X} {Y}}

                {SET_LABEL {X} {Y} {TITLE}}
            [/then]
        [/if]
    [/event]
    [event]
        name=moveto
        first_time_only=no

        [filter]
            id={UNIT_ID}
            [filter_location]
                x,y={X},{Y}
            [/filter_location]
        [/filter]

        [if]
            [variable]
                name={VAR}
                boolean_equals=yes
            [/variable]
            [then]
                [message]
                    speaker=narrator
                    image={IMG}
                    caption={TITLE}
                    message={TEXT}
                [/message]
            [/then]
        [/if]
    [/event]
#enddef

[scenario]
    id=trophy_hall
    name= _ "Trophy Hall"
    next_scenario=weldyn

    map_data="{~add-ons/Undead_in_the_Sewers/maps/trophy_hall.map}"
    turns=-1
    victory_when_enemies_defeated=no

    {SCENARIO_MUSIC "heroes_rite.ogg"}
    {UITS_GLOBAL_EVENTS}
    [time]
        id=indoors
        name= _ "Indoors"
        image=misc/time-schedules/schedule-indoors.png
        lawful_bonus=0
        red=0
        green=0
        blue=0
    [/time]

    {PLAYER_SIDE}

    {TROPHY 10 67 trophies.zombie_slayer _"Zombie Slayer" _"Earned by $player_info.name for killing 10 Walking Corpses." "trophies/zombie_slayer_trophy.png"}

    [event]
        name=prestart
        {SHOW_OBJECTIVES}
    [/event]

    [event]
        name=start
        {START_LEVEL_IF_FROM weldyn 6 70}

        {GUARD_ONCE trophies.visited (
            [message]
                speaker=narrator
                caption= _ "Trophy Hall"
                image=wesnoth-icon.png
                message= _ "Welcome to the Trophy Hall! Here you can see all of the trophies you have earned so far in the game. When you unlock a trophy, it will appear here for you to see whenever you visit the Trophy Hall.

Note that the requirements for earning trophies are secret; you must discover how to earn them as you play the game! When a trophy appears in the Trophy Hall, simply move your character onto the trophy to see what requirements you met in order to earn it."
            [/message]
        )}
    [/event]

    {MOVETO_NEXT_LEVEL 6 70 trophy_hall weldyn _"Do you want to leave the trophy hall?"}

    {SET_UNLIMITED_MOVEMENT id={UNIT_ID}}
[/scenario]
