#textdomain wesnoth-UitS
[unit_type]
    id=UitS_Elvish_Sorcerer
    name= _ "female^Elvish Sorcerer"
    race=elf
    gender=female
    image="units/elves-wood/sorceress.png"
    profile="portraits/elves/sorceress.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=UitS_elf
    movement=5
    experience=70
    level=1
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=34
    usage=mixed fighter
    description= _ "Sorcerers deal out massive amounts of arcane damage against all kinds of foes with their magical abilities, but they are weak in just about every other line of work, and are especially frail against physical attacks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/elves/transparent/sorceress.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/elves/transparent/sorceress.png"
    [/portrait]
    [attack]
        name=missile
        description=_"missile"
        type=arcane
        damage=7
        number=3
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/faerie-fire.png
    [/attack]
    {DEFENSE_ANIM_RANGE "units/elves-wood/sorceress-defend-2.png" "units/elves-wood/sorceress-defend-1.png" {SOUND_LIST:ELF_FEMALE_HIT} melee }
    {DEFENSE_ANIM_ELVEN_RANGE "units/elves-wood/sorceress-defend-2.png" "units/elves-wood/sorceress-defend-1.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged }
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}

        [if]
            hits=yes
            [frame]
                begin=-450
                end=-375
                image="units/elves-wood/sorceress-magic-1.png"
                sound=magic-faeriefire.ogg

                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=0,-28
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-450
                end=-375
                image="units/elves-wood/sorceress-magic-1.png"
                sound=magic-faeriefire-miss.ogg

                halo=halo/elven/faerie-fire-halo1.png
                halo_x,halo_y=0,-28
            [/frame]
        [/else]

        [frame]
            begin=-375
            end=-300
            image="units/elves-wood/sorceress-magic-2.png"
            halo=halo/elven/faerie-fire-halo2.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/elves-wood/sorceress-magic-3.png"
            halo=halo/elven/faerie-fire-halo3.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/elves-wood/sorceress-magic-3.png"
            halo=halo/elven/faerie-fire-halo4.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/elves-wood/sorceress-magic-3.png"
            halo=halo/elven/faerie-fire-halo5.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/elves-wood/sorceress-magic-2.png"
            halo=halo/elven/faerie-fire-halo6.png
            halo_x,halo_y=0,-28
        [/frame]
        [frame]
            begin=-0
            end=75
            image="units/elves-wood/sorceress-magic-1.png"
            halo=halo/elven/faerie-fire-halo7.png
            halo_x,halo_y=0,-28
        [/frame]
    [/attack_anim]
[/unit_type]
