#textdomain wesnoth-Undead_in_the_Sewers


#define POOP_ANIMATION IMAGESTEM POSTFIX
{IMAGESTEM}[1~12]{POSTFIX}.png:140#enddef

{OVERLAY_B *^Doo POOP_ANIMATION poop}

{OVERLAY *^Zma- mirror-s}
{OVERLAY *^Zma/ mirror-se}
{OVERLAY *^Zma\ mirror-sw}
{OVERLAY_L *^ZmA- 100 mirror-n}
{OVERLAY_L *^ZmA/ 100 mirror-nw}
{OVERLAY_L *^ZmA\ 100 mirror-ne}

#define RED_IMAGE_BUILDER IMAGESTEM POSTFIX
{IMAGESTEM}{POSTFIX}.png~CS(40,-40,-40)#enddef

{OVERLAY_B *^Zmr- RED_IMAGE_BUILDER mirror-s}
{OVERLAY_B *^Zmr/ RED_IMAGE_BUILDER mirror-se}
{OVERLAY_B *^Zmr\ RED_IMAGE_BUILDER mirror-sw}
{OVERLAY_LB *^ZmR- 100 RED_IMAGE_BUILDER mirror-n}
{OVERLAY_LB *^ZmR/ 100 RED_IMAGE_BUILDER mirror-nw}
{OVERLAY_LB *^ZmR\ 100 RED_IMAGE_BUILDER mirror-ne}

#define GREEN_IMAGE_BUILDER IMAGESTEM POSTFIX
{IMAGESTEM}{POSTFIX}.png~CS(-40,40,-40)#enddef

{OVERLAY_B *^Zmg- GREEN_IMAGE_BUILDER mirror-s}
{OVERLAY_B *^Zmg/ GREEN_IMAGE_BUILDER mirror-se}
{OVERLAY_B *^Zmg\ GREEN_IMAGE_BUILDER mirror-sw}
{OVERLAY_LB *^ZmG- 100 GREEN_IMAGE_BUILDER mirror-n}
{OVERLAY_LB *^ZmG/ 100 GREEN_IMAGE_BUILDER mirror-nw}
{OVERLAY_LB *^ZmG\ 100 GREEN_IMAGE_BUILDER mirror-ne}

#define BLUE_IMAGE_BUILDER IMAGESTEM POSTFIX
{IMAGESTEM}{POSTFIX}.png~CS(-40,-40,40)#enddef

{OVERLAY_B *^Zmb- BLUE_IMAGE_BUILDER mirror-s}
{OVERLAY_B *^Zmb/ BLUE_IMAGE_BUILDER mirror-se}
{OVERLAY_B *^Zmb\ BLUE_IMAGE_BUILDER mirror-sw}
{OVERLAY_LB *^ZmB- 100 BLUE_IMAGE_BUILDER mirror-n}
{OVERLAY_LB *^ZmB/ 100 BLUE_IMAGE_BUILDER mirror-nw}
{OVERLAY_LB *^ZmB\ 100 BLUE_IMAGE_BUILDER mirror-ne}

{OVERLAY *^Twr tower}

[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Brb
        set_no_flag=overlay
    [/tile]

    probability=100
    [image]
        name="brazier.png~BLIT(terrain/brazier-lit-A0[1~8].png~CS(-130,20,170)~CROP(0,0,72,27),0,0):150"
        layer=5
        base=90,144
        center=90,144
    [/image]
    [image]
        name="illuminates-aura.png"
        layer=100
        base=90,126
        center=90,126
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Bru
        set_no_flag=overlay
    [/tile]

    probability=100
    [image]
        name="brazier.png"
        layer=5
        base=90,144
        center=90,144
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Brl
        set_no_flag=overlay
    [/tile]

    probability=100
    [image]
        name="brazier-lit-A0[1~8].png"
        layer=5
        base=90,144
        center=90,144
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Mau
        set_no_flag=overlay
    [/tile]

    probability=100
    [image]
        name="mausoleum-unlit.png"
        layer=5
        base=90,144
        center=90,144
    [/image]
[/terrain_graphics]

[terrain_graphics]
    map="
, *
* , *
, 1
* , *
, *"

    [tile]
        pos=1
        type=*^Mal
        set_no_flag=overlay
    [/tile]

    probability=100
    [image]
        name="mausoleum[01~22].png:140"
        layer=5
        base=90,144
        center=90,144
    [/image]
[/terrain_graphics]
